<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.motoband.credit.CreditMapper">
<select id="selectUserCredit"  resultType="Long" parameterType="com.motoband.motouser.MBUserModel">
		select credit from mbuser where userid=#{userid}  for update
	</select>
	
   <update id="updateUserCredit" parameterType="map">
		update mbuser set credit=#{credit} where userid=#{userid}
   </update>
   
	<insert id="insertCreditLog" parameterType="com.motoband.credit.CreditLogModel">
		INSERT INTO
		credit_log_${subffix}
		(creditlogid,logtime,actiontype,score,credittype,datades,userid)
		values(#{creditlogid},#{logtime},#{actiontype},#{score},#{credittype},#{datades},#{userid})
	
	</insert>
</mapper>